.main {
    background-color: brown;
}
.main p{
    margin-left: 20px;
    margin-right: 20px;
}
.main_bottom {
    background-color: brown;
}
#main-img-center {
width: 20%;
left: calc(36in * 0.40);
bottom: 0.5in;
}

pre > code {
    color: DarkRed;
    font-weight: bold;
}

hr {
  border: 0;
  border-top: 5px solid #8c8c8c;
}

